<% content_for :title do %>
  New Import
<% end %>

<div class="page-header">
  <h1>New Import</h1>
  <%= link_to imports_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<div class="alert alert-info">
  <strong>Don't you know what to upload?</strong>Try one of the <a href="https://github.com/seccomiro/contact-importer/tree/master/spec/fixtures/files">sample files</a>.
</div>

<%= render 'form' %>
